@font-face {
    font-family: 'handy';
    src: url('../fonts/comesinhandy.eot'); /* IE9 Compat Modes */
    src: url('../fonts/comesinhandy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/comesinhandy.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kenyan';
    src: url('../fonts/kenyancoffeerg.eot'); /* IE9 Compat Modes */
    src: url('../fonts/kenyancoffeerg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kenyancoffeerg.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kenyancoffeerg.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kenyancoffeerg.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'kenyan';
    src: url('../fonts/kenyancoffeebd.eot'); /* IE9 Compat Modes */
    src: url('../fonts/kenyancoffeebd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/kenyancoffeebd.woff') format('woff'), /* Modern Browsers */
         url('../fonts/kenyancoffeebd.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/kenyancoffeebd.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
    font-style: normal;
    }

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Removes default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    font-family: 'handy', serif;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}


/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * Removes border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
Main styles
*/

body {
    background: white url(../images/background.png);
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'kenyan', arial, sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: 'handy', serif;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.header {
    background: white url(../images/wood_header.png);
    height: 52px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.logo {
    background: transparent url(../images/logo_header.png) no-repeat;
    height: 52px;
    width: 72px;
    display: block;
    float: left;
    overflow: hidden;
    text-indent: -9999px;
    direction: ltr;
}

.navigation {
    display: block;
    float: left;
    color: white;
    list-style-type: none;
    margin: 0;
    height: 52px;
}

.navigation li {
    display: inline-block;
    vertical-align: top;
    padding: 0 1em;
    height: 52px;
}

.navigation li a {
    color: white;
    display: block;
    padding-top: 14px;
}

.navigation li a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clearfix:after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

* html .clearfix {
    zoom: 1;
}

*:first-child+html .clearfix {
    zoom: 1;
}

.underline {
    position: absolute;
    bottom: 0;
    left: -100px;
    height: 2px;
    width: 100px;
    background: red;
}

.absolute {
    position: absolute;
}

.whenwhere {
    margin-top: 52px;
    padding: 8.5em 0 1.5em 0;
    position: relative;
}

    .top_left_bird {
        top: -45px;
        left: 20%;
    }

    .top_right_bird {
        top: -57px;
        left: 37%;
    }

    .top_heart {
        top: -40px;
        left: 298px;
        font-size: 35px;
        line-height: 25px;
        height: 35px;
    }

h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'kenyan', sans-serif;
    text-align: center;
    font-size: 247px;
    line-height: 1em;
    color: white;
    text-shadow: 3px 3px 1px #737350;
}

hr {
    width: 50%;
}

.top_double {
    margin: 0 auto;
    padding: 0;
    height: 17px;
    background-image: url(../images/top_thin_double_band.png);
    background-repeat: repeat-x;
    overflow: hidden;
    border: none;
}

.bottom_double {
    margin: 0 auto;
    padding: 0;
    height: 20px;
    background-image: url(../images/bottom_double_thin_band.png);
    background-repeat: repeat-x;
    overflow: hidden;
    border: none;   
}

.invite_you_to {
    position: relative;
    color: #909074;
    text-align: center;
    text-shadow: 0px 1px 0px #c6c6b0;
    text-transform: uppercase;
    font-size: 40px;
    width: 50%;
    margin: 1em auto;
}

.bell_left {
    top: -10px;
    left: 70px;
}

.bell_right {
    top: -10px;
    right: 70px;
}